.listed-item {
    width: 260px;
    height: 240px;
    display: inline-block;
	border: 1px solid black;
}

.listed-item .picture {
	width: 240px;
	height: 180px;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
}
.history-item .picture {
	width: 240px;
	height: 180px;
}
.title {
	background-color:#0040C0;
	color:#FFFFFF;
	font-size: 30px;
}
.menu-item {
	display: block;
	padding: 30px 20px;
	border: 1px solid #888;
}