.listed-item {
    width: 260px;
    height: 240px;
    display: inline-block;
	border: 1px solid black;
}

.listed-item .picture {
	width: 240px;
	height: 180px;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
}
.title {
	background-color:#0040C0;
	color:#FFFFFF;
	font-size: 30px;
}
.target {
	overflow: auto;
	width: 280px;
	height: calc(100vh - 60px);
	position:absolute;
	border:1px solid#000000;
}
.menu-item {
	display: block;
	padding: 30px 20px;
	border: 1px solid #888;
}
.img-history {
	width: 240px;
	height: 180px;
}