.listed-item {
    width: 260px;
    height: 240px;
    display: inline-block;
	border: 1px solid black;
}

.listed-item .picture {
	width: 240px;
	height: 180px;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
}
.title {
	background-color:#0040C0;
	color:#FFFFFF;
	height:40px;
}
.history {
	overflow: auto;
	width: calc(100vw - 280px);
	min-width: 300px;
	height: calc(100vh - 60px);
	position:absolute;
	left:280px;
	border:1px solid#000000;
}
.target {
	overflow: auto;
	width: 280px;
	height: calc(100vh - 60px);
	position:absolute;
	border:1px solid#000000;
}